@model List<Fiap.Exemplo04.MVC.Models.Animal>
@{
    ViewBag.Title = "Listar";
}

<h2>Lista de Animais</h2>

<table class="table">
    <tr>
        <th>Nome</th>
        <th>Espécie</th>
        <th>Carnivoro</th>
        <th>Data Entrada</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Especie</td>
            <td>@(item.Carnivoro?"Sim":"Não")</td>
            <td>@item.DataEntrada.ToShortDateString()</td>
        </tr>
    }
</table>