@model Fiap.Revisao2.Models.Esporte
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>
@TempData["msg"]
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(e => e.Nome)
        @Html.TextBoxFor(e => e.Nome, new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.Nome)
    </div>
    <input type="submit" value="Salvar" class="btn btn-primary"/>
}
